body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(#ADD8E6, #FFE5B4, #E6E6FA);
}
nav{
    background: orangered;
    padding: auto;
  }
  nav::after{
    content: '';
    clear: both;
    display: block;
  }
  .menu{
    margin: 80px;
    top: 20px;
  }
  .menu li{
    display: inline-block;
    list-style: none;
    line-height: 20px;
    font-size: 15px;
    left: -20px;
    top: 10px;
    position: relative;
    font-family: 'Electrolize', sans-serif;
  }
  .menu li a{
    display: inline-block;
    color: white;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    
  }
  .menu li a:hover{
    background: red;
    color: white;
    
  }
  .menu li:hover .dropdown{
    display: block;
  }
  .dropdown{
    position: absolute;
    background: black;
    display: none;
    top: 65px;
  
  }
  .dropdown li{
    display: block;
    list-style: none;
    font-size: 15px;
    text-align: justify;
  }
  .logo{
    text-decoration: none;
    color: #ffff;
    font-size: 30px;
    font-family: 'Trade Winds', cursive;
    padding: 22px 100px;
    width: 20%;
    float: left;
  }
  .banner-text{
    position: absolute;
    top: 70%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
  }
  .banner-text h1{
    font-family: sans-serif;
    margin: 0;
    font-size: 40px;
    color: orange;
    font-family: 'Koulen', cursive;
  }
  .banner-text p{
    font-size: 21px;
    margin: 0;
    color:white;
  }
  .banner-text i{
    font-size: 45px;
    padding-top: 65%;
    color: white;
  }
  
  
  .container2 {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
  
  }